
        h1 {
            font-size:70px;
            text-align: center;
        }
        h2 {
            font-size:30px;
        }
        img {
            width:360px;
        }
        body {
            background-color: #E4DAD2;
            font-family:Georgia;
        }
