h1 {
     font-size:70px;
     text-align: center;
    }
h2 {
    font-size:32px;
    }
img {
    width:360px;
    }
html {
    background-color:#A9B3A9;
    font-family:Georgia;
    }
p {
    font-size:16px;
}
